Checks: >
  -*,
  bugprone-*,
  misc-*,
  performance-*,
  clang-analyzer-*,
  readability-*,
  -bugprone-assignment-in-if-condition,
  -bugprone-easily-swappable-parameters,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -misc-use-anonymous-namespace,
  -performance-avoid-endl,
  -readability-avoid-const-params-in-decls,
  -readability-identifier-length,
  -readability-named-parameter,
  -readability-magic-numbers,
  -readability-redundant-inline-specifier

WarningsAsErrors: ''
HeaderFilterRegex: 'src/(app|backend|frontend|demo|shared)/'
FormatStyle: file

CheckOptions:
  readability-function-cognitive-complexity.IgnoreMacros: true
  readability-function-cognitive-complexity.DescribeBasicIncrements: false
  readability-function-cognitive-complexity.Threshold: 25
